/* 为视频 retina屏 宽 高为设计图的0.5倍 */
.main_wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* 实际上就把该盒子设置成和父元素（body）一样大了 */
    /* background-color: rgb(2, 54, 2); */
}

.header{
    /* 文档流必定顶格 */
    height: 2.5rem;
    /* background-color:rgb(24, 243, 24); */
}

.center_wrap{
    /* 之所以用定位，是为动态适配不同手机屏幕高度 */
    position: absolute;
    /* 转换成 inline-block */
    left: 0;
    right: 0;
    top: 2.5rem;
    bottom: 2.5rem;
    /* background-color: rgb(0, 128, 96); */
    /* 新技巧 */
    overflow: auto;
    /* overflow-x: hidden;
    overflow-y: auto;  */
}

.footer{
    position: absolute;
    /* 转换成 inline-block */
    width: 100%;
    height:2.5rem;
    left: 0;
    /* right: 0; */
    bottom: 0;
    /* background: rgb(236, 229, 129); */
}