body{
    background: gold;
    margin: 0;
    border: 0;
}
.box01, .box02{
    width: 200px;
    height: 200px;
    background: green;
    float: left;
    margin: 20px;
}
.box02{
    background: pink;
}