body{
    background: gray;
    margin: 0;
    border: 0;
}
.box01, .box02{
    width: 200px;
    height: 200px;
    background: red;
    float: left;
    margin: 20px;
}
.box02{
    background: yellow;
}